@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap");
* {
  font-family: 'Montserrat', Verdana, sans-serif;
  outline: none; }

.bar1, .bar2, .bar3 {
  width: 20px;
  height: 2px;
  background-color: #333;
  margin: 5px 0;
  transition: 0.4s;
  z-index: 100; }

.collapse-btn {
  z-index: 100; }

.active .bar1 {
  -webkit-transform: rotate(-45deg) translate(-3px, 6px);
  transform: rotate(-45deg) translate(-3px, 6px); }

.active .bar2 {
  opacity: 0; }

.active .bar3 {
  -webkit-transform: rotate(45deg) translate(-2px, -8px);
  transform: rotate(45deg) translate(-3px, -8px); }

body {
  margin: 0px; }

.container {
  width: 80%;
  margin: 0 auto;
  padding: 0px 15px; }

.container-fluid {
  width: 95%;
  padding: 0 2.5%; }

.visible-xs, #navbar__mobile {
  display: none; }

.pointer {
  cursor: pointer; }

.relative {
  position: relative; }

.absolute {
  position: absolute; }

.img-responsive {
  min-width: 55%;
  max-width: 100%; }

.m-0 {
  margin: 0px; }

.mt-10 {
  margin-top: 10px; }

.mb-10 {
  margin-bottom: 10px; }

.mb-5 {
  margin-bottom: 5px; }

.mt-40 {
  margin-top: 40px; }

.mb-40 {
  margin-bottom: 40px; }

.mb-30 {
  margin-bottom: 30px; }

.mt-60 {
  margin-top: 60px; }

.mt-30 {
  margin-bottom: 30px; }

.mt-5 {
  margin-top: 5px; }

.mb-5 {
  margin-bottom: 5px; }

.ml-5 {
  margin-left: 5px; }

.mr-5 {
  margin-right: 5px; }

.ml-10 {
  margin-left: 10px; }

.mr-10 {
  margin-right: 10px; }

.txt-center {
  text-align: center; }

.txt-left {
  text-align: left; }

.txt-right {
  text-align: right; }

.txt-white {
  color: #fff; }

.bg-white {
  background: #fff; }

.txt-black {
  color: #000; }

.bg-black {
  background: #000; }

.p-0 {
  padding: 0px; }

.w-full {
  width: 100%; }

.center-block {
  display: block;
  margin: 0 auto; }

.txt-uppercase {
  text-transform: uppercase; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.inline {
  display: inline; }

.inline-block {
  display: inline-block; }

.flex {
  display: flex; }

.align-center-v {
  align-items: center; }

.justify-center {
  justify-content: center; }

.space-between {
  justify-content: space-between; }

.space-around {
  justify-content: space-around; }

.nav_row {
  width: 100%; }

.navbar a {
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px; }

.navbar__upper {
  width: 32.5%; }
  .navbar__upper .navbar__items--item {
    padding: 0px; }

.separator {
  width: 2px;
  height: 1px; }

.navbar__items--item {
  list-style-type: none;
  font-size: 12px;
  padding: 0px;
  margin: 7px;
  display: inline-block;
  text-align: center; }

.brand {
  width: 35%; }

.nav_novidades {
  border-bottom: 1px solid #c6c6c6; }
  .nav_novidades ul li {
    padding: 15px; }
    .nav_novidades ul li.active {
      border-bottom: 1px solid #000; }

.anuncio_index {
  width: 100%; }
  .anuncio_index img {
    object-fit: cover; }

.banner__button {
  border: 1px solid #333;
  padding: 25px 1%;
  top: 55%;
  margin-left: 22.2%;
  background: transparent;
  z-index: 10;
  font-size: 16px;
  transition: all ease .4s; }
  .banner__button:hover {
    background: #000;
    color: #fff; }

#novidades-carousel .slick-slide img {
  display: block;
  max-height: 600px;
  max-width: 330px; }

.slick-slide img {
  width: 100%; }

.slick-prev {
  background: transparent;
  left: 0px;
  top: 0px;
  outline: none;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  border-top: 0px solid #000;
  border-right: 0px solid #000;
  height: 30px;
  width: 75px;
  transform: rotate(45deg);
  z-index: 999;
  cursor: pointer; }

.slick-next {
  background: transparent;
  right: 0px;
  top: 0px;
  outline: none;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  border-top: 0px solid #000;
  border-left: 0px solid #000;
  height: 30px;
  transform: rotate(-45deg);
  width: 75px;
  z-index: 999;
  cursor: pointer; }

.card__title .title {
  font-size: 18px;
  font-weight: normal; }

.card__button {
  border: 2px solid #333;
  padding: 15px 30px;
  background: transparent;
  font-size: 13px;
  font-weight: 600;
  transition: all ease .4s; }
  .card__button:hover {
    background: #000;
    color: #fff; }

.card__button--plus {
  bottom: 95px !important;
  padding: 20px 35px !important;
  font-size: 16px; }

.slick-slider {
  display: flex !important;
  align-items: center; }

#about article {
  line-height: 200%; }

.about__title {
  font-size: 35px;
  letter-spacing: 4px; }

#imgMain {
  visibility: hidden;
  transition: all ease .4s;
  opacity: 0; }
  #imgMain.loaded {
    visibility: visible;
    opacity: 1; }

.plus__img {
  width: 94%; }

#newsletter .newsletter {
  background: #f0f0f0;
  padding: 38px 50px; }
  #newsletter .newsletter .newsletter__txt {
    font-size: 18px; }
  #newsletter .newsletter form input {
    width: 40%;
    padding: 15px; }
  #newsletter .newsletter #submit-news {
    padding: 15px 35px;
    color: #fff;
    background: #000;
    border: none;
    font-size: 15px; }

#footer {
  border-top: 1px solid #c3d1d8; }
  #footer .title {
    letter-spacing: 2px; }
  #footer .bottom__footer {
    padding-bottom: 25px;
    border-bottom: 1px solid #c3d1d8; }
  #footer ul {
    list-style: none !important; }
  #footer .assignature article {
    max-width: 50%;
    font-size: 10px; }
  #footer .assignature .logos {
    width: 50%; }

.marcas .marca, #footer .categoria, #footer .footer__item {
  list-style: none;
  font-size: 14px; }

.footer__glossary {
  padding: 15px;
  border-bottom: 1px solid #c3d1d8; }

@media only screen and (max-width: 768px) {
  .nav_row .flex {
    display: inline-block; }
  .navbar__items--item {
    font-size: 8px; } }

@media only screen and (max-width: 425px) {
  .navbar__items--item, .separator {
    display: none; }
  .brand {
    text-align: left; }
  .visible-xs {
    display: inline-block; }
  .active#navbar__mobile {
    display: inline-block;
    z-index: 10;
    left: 0;
    top: 45px;
    list-style: none; } }
